.short-hori-project-card {
  width: var(--short-project-card-hori-width);
  height: auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hover-in{
    background: var(--bg-color);
    opacity: .15;
  }

  .overlay-text{
    color: var(--white-1);
    opacity: 100%;

    .title{
      color: var(--primary-light-2);
      margin: 0;
      margin-bottom: var(--space-project-card-title-description-hori);
      font-size: var(--font-size-project-card-title-hori);
    }
    .description{
      margin: 0;
      font-size: var(--font-size-project-card-description-hori);
    }
  }
}
