body {
  background-color: var(--bg-color-2);
  margin: 10px;
}
app-article-page {
  font-family: system-ui, "Segoe UI", sans-serif;
}

.article-container {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  gap: 20px;

  margin: var(--article-page-main-content-margin);

  bee-markdown-viewer {
    .bee-markdown-body {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
      color: #e5e7eb;
      line-height: 1.75;
      font-size: var(--article-page-md-viewer-font-size);
    }

    /* Headings */
    .bee-markdown-body h1 {
      font-size: var(--article-page-md-viewer-h1-font-size);
      /* margin: 20px 0 0; */
    }

    .bee-markdown-body h2 {
      font-size: var(--article-page-md-viewer-h2-font-size);
      /* margin: 35px 0 20px; */
    }

    .bee-markdown-body h3 {
      font-size: var(--article-page-md-viewer-h3-font-size);
    }
    .bee-markdown-body h4 {
      font-size: var(--article-page-md-viewer-h4-font-size);
    }
    .bee-markdown-body h5,
    .bee-markdown-body h6 {
      font-size: var(--article-page-md-viewer-h5-font-size);
    }

    .bee-markdown-body h1,
    .bee-markdown-body h2,
    .bee-markdown-body h3,
    .bee-markdown-body h4,
    .bee-markdown-body h5,
    .bee-markdown-body h6 {
      color: #f9fafb;
      font-weight: 600;
      line-height: 1.25;
    }

    /* Paragraphs & inline text */
    .bee-markdown-body :where(p, span, strong, em, a):not(code *) {
      margin: 0px 0px 0px 0px;
    }

    .bee-markdown-body p {
      margin-left: var(--article-page-md-viewer-p-margin-left);
      font-size: var(--article-page-md-viewer-p-font-size);
    }

    /* Lists */
    .bee-markdown-body :where(ul, ol) {
      margin: 0.15em 0;
      padding-left: 2.2rem;
      font-size: var(--article-page-md-viewer-p-font-size);
    }

    .bee-markdown-body li {
      margin: 0.15em 0;
      font-size: var(--article-page-md-viewer-p-font-size);
    }

    /* Inline code */
    .bee-markdown-body p > code {
      padding: 0.15em 0.35em;
      border-radius: 4px;
      background: var(--primary-dark);
      color: #fcf8ec;
    }

    /* Code blocks */
    .bee-markdown-body pre {
      white-space: var(--article-page-md-viewer-code-block-white-space);
      word-break: var(--article-page-md-viewer-code-block-word-break);
      overflow-x: var(--article-page-md-viewer-code-block-overflow-x);
    }

    .bee-markdown-body pre code {
      font-size: var(--article-page-md-viewer-code-block-font-size);
      white-space: inherit;
    }
  }

  .article {
    .bee-markdown-body {
      margin-top: var(--article-page-md-viewer-margin-top);
    }
  }

  .btn-language-change {
    width: max-content;
    margin: var(--article-page-cl-btn-margins);
  }

  .md-navigator {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: sticky;
    top: 0;
    height: 100vh;

    overflow-y: auto;
    width: clamp(250px, 50vw, 600px);

    .bee-markdown-navigator li {
      transition:
        background 0.25s ease,
        color 0.25s ease;
      border-radius: 6px;
    }

    .bee-markdown-navigator li:hover {
      background: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--primary-dark) 80%
      );
      color: #fff;
    }

    a {
      line-height: 1.75;
      font-size: var(--article-page-md-navigator-font-size);
      color: #f9fafb;
      font-weight: 600;
    }
  }

  .md-nav-activate {
    display: none;
  }
}

.btn-vertical-activate {
  display: none;
}

.btn-article-style {
  margin: var(--article-page-return-btn-margins);
  padding: 10px 15px;
  transition: background 0.25s ease;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-dark) 70%
  );
  color: var(--white-2);
  font-weight: 600;
  font-size: var(--article-page-btn-font-size);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}

.btn-article-style:hover {
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-light) 150%
  );
}

.btn-return {
  margin: var(--article-page-return-btn-margins);
}