<bee-vert-carousel
  [autoPlayInterval]="getAutoplayTimer()"
  [pauseOnHover]="true"
  [transitionType]="'fade'"
  [items]="imgurls()"
>
  <ng-template #body let-item>
    <bee-relative-layout class="short-vert-project-card">
      <div
        DClickableAction
        (actionClick)="onClickAction()"
        beeHoverOnce
        (hoverChange)="onHoverChange($event)"
      >
        <img [class.hover-in]="onHover" [src]="item" alt="NoImage" />
        @if ( onHover ) {
        <bee-floating-layout
          [posX]="50"
          [posY]="50"
          [anchorPoint]="POLICY.CENTER_CENTER"
        >
          <div class="overlay-text">
            <h1>{{ getProjectInfo().title }}</h1>
            <p>{{ getProjectInfo().briefBio }}</p>
          </div>
        </bee-floating-layout>
        }
      </div>
    </bee-relative-layout>
  </ng-template>
</bee-vert-carousel>
