<section class="skills-section">
  <h1 class="title">SKILLS</h1>

  <bee-fixed-width-layout class="body" [offset]="200">
    <bee-horizontal-layout
      class="skills-filter"
      beeGroupItemComponentDirective
      (activeItemsChanged)="showingSelected($event)"
      [multiple]="false"
      [activeIds]="[getActiveTag()]"
      [gap]="10"
      [wrap]="true"
    >
      @for (chip of skillChips(); track $index) {
      <bee-chip
        beeItemComponentDirective
        [id]="chip.tag"
        class="skill-chip"
        [label]="chip.topic"
      />
      }
    </bee-horizontal-layout>

    <!-- This @if is need it due to life-cycle from Angular -->
    @if ( !isSkills2ShowEmpty() ) {
    <bee-responsive-card-grid-layout [gap]="15">
      @for (skill of skills2Show(); track $index) {
      <bee-card-layout [minMaxWidth]="{ min: 250, max: 250 }">
        <skill-card [skill]="skill" />
      </bee-card-layout>
      }
    </bee-responsive-card-grid-layout>
    } @else {
      <p class="no-skills-2-show-message">Please Select a Chip to show Skills</p>
    }
  </bee-fixed-width-layout>
</section>
