<section class="skills-section">
  <p>SKILLS</p>

  <bee-fixed-width-layout [offset]="200">
    <bee-horizontal-layout
      class="skills-filter"
      beeGroupItemComponentDirective
      (activeItemsChanged)="showingSelected($event)"
      [activeIds]="[getActiveTag()]"
      [multiple]="false"
      [gap]="10"
      [wrap]="true"
    >
      <bee-chip
        beeItemComponentDirective
        [id]="'all'"
        class="skill-chip"
        [label]="'All'"
      />
      <bee-chip
        beeItemComponentDirective
        [id]="'p-language'"
        class="skill-chip"
        [label]="'Programming Language'"
      />
      <bee-chip
        beeItemComponentDirective
        [id]="'softLibs'"
        class="skill-chip"
        [label]="'Software Libraries'"
      />
      <bee-chip
        beeItemComponentDirective
        [id]="'db'"
        class="skill-chip"
        [label]="'Database'"
      />
      <bee-chip
        beeItemComponentDirective
        [id]="'con-ver'"
        class="skill-chip"
        [label]="'Control Version'"
      />
    </bee-horizontal-layout>

    <bee-responsive-card-grid-layout [gap]="15">
      @for (skill of skills2Show(); track $index) {
      <bee-card-layout [minMaxWidth]="{ min: 250, max: 250 }">
        <skill-card [skill]="skill" />
      </bee-card-layout>
      }
    </bee-responsive-card-grid-layout>
  </bee-fixed-width-layout>

</section>
