<sec-home
  id="home"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'home'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-projects
  id="projects"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'projects'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-experience
  id="experience"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'experience'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-skills
  id="skills"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'skills'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-contact
  id="contact"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'contact'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<bee-responsive-layout [TriggerFactorVert2Hori]="0.85">
  <ng-template #screenVertical>
    <bee-clickable-icon
      (clicked)="onClickSidebarNavMenu()"
      [refName]="getRefIconBaseOnSectionId()"
      class="vert-nav-button"
    />
  </ng-template>

  <ng-template #screenHorizontal>
    <nav-sec-menu
      class="nav-menu"
      [activeId]="activeSecId()"
      [navItems]="temNavItems"
      (navItemClicked)="onClickNavMenu($event)"
    />
  </ng-template>
</bee-responsive-layout>

<scroll-tracker (scrollYEventEmitted)="getYScrollEvent($event)" />
