<sec-home
  id="home"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'home'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-projects
  id="projects"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'projects'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-experience
  id="experience"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'experience'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-skills
  id="skills"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'skills'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-contact
  id="contact"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'contact'"
  [dirProp_yScrollEvent]="yScrollEventData()"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<nav-menu [activeSecId]="activeSecId()"/>

<scroll-tracker (scrollYEventEmitted)="getYScrollEvent($event)" />
