<sec-home
  id="home"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'home'"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-projects
  id="projects"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'projects'"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-experience
  id="experience"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'experience'"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-skills
  id="skills"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'skills'"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<sec-contact
  id="contact"
  dirSectionYscrollTracker
  [dirProp_sectionId]="'contact'"
  (dirEvt_sectionVisible)="onSectionActive($event)"
/>

<nav-menu [activeSecId]="activeSecId()"/>

