/* :host {} */

.bee-timeline {
  position: relative;
}

.bee-timeline-item {
  margin: 10px 0;
  width: fit-content;

  .left {
    flex-direction: row;
  }

  .right {
    flex-direction: row-reverse;
  }
}

.bee-timeline-content {
  flex: 1;
  padding: 0 1rem;
}

.bee-timeline-marker-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 0 0 40px; */
}

.bee-timeline-item:not(:last-child) .bee-timeline-marker-column::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  /* height: 122px; */
  height: var(--spine-height, 122px); /* default fallback */
  background: #acacac;
  z-index: 0;
}

.bee-timeline-marker {
  position: relative;
  z-index: 1;
}

.bee-default-marker {
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #acacac;
}
