:host {
  display: block;
}

.skill-card {

  padding: 20px 10px 20px 10px;
  background-color: var(--bg-color-lighter);
  border-radius: 5px;
  /* border: 2px solid var(--bg-color); */
  color: var(--white-1);

  .skill-card-text h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .skill-card-text p {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
}

.skill-card:hover{
  border: 2px solid var(--primary-light-2);
  /* cursor: pointer; */
}
