.form-card {
  /* Static */
  background: #ffffff;
  border-radius: 3px 15px 15px 3px;

  /* Dynamic */
  width: var(--contact-form-width);
  padding: var(--contact-form-padding);
}

.form-group {
  /* Static */
  align-self: stretch;
  margin-bottom: 12px;
}

.input,
.textarea {
  /* Static */
  width: 100%;
  border: none;
  outline: none;
  background: #f1f1f1;
  padding: 20px 0px 20px 10px;
  margin: 5px 0px 5px -5px;
  border-radius: 14px;
  transition: background 0.2s ease;

  /* Dynamic */
  font-size: var(--contact-form-font-size-input);
}

.input:focus,
.textarea:focus {
  background: #e8e8e8;
}

.invalid-data {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  /* margin-top: 4px; */

  /* Dynamic */
  font-size: var(--contact-form-font-size-error-message);
}

.btn {
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: white;
  border-radius: 20px;
  transition: opacity 0.2s ease;
  background: linear-gradient(
    90deg,
    var(--btn-gradient-start),
    var(--btn-gradient-end)
  );

  /* Dynamic */
  font-size: var(--contact-form-btn-font-size);
  padding: var(--contact-form-btn-padding);
  margin-top: var(--contact-form-btn-margin-top);
}

.btn:hover {
  opacity: 0.9;
}
