.projects-sec{
  padding-top: 20px;
}

.projects-sec-hori-container{
  .projects-title{
    color: aliceblue;
    align-items: center;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 10px;
  }
}

.projects-sec-vert-container{
  .projects-title{
    color: aliceblue;
    align-items: center;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 10px;
  }
}
