<section class="projects-sec">
  <bee-fixed-width-layout [offset]="200">
    <bee-responsive-layout [TriggerFactorVert2Hori]="getFactorVert2Hori()">
      <ng-template #screenVertical>
        <bee-grid-2d-layout
          [gap]="20"
          class="projects-sec-vert-container"
          [inputGrid2Distribution]="{ x: '1fr 1fr', y: '1fr 1fr 1fr 1fr 1fr' }"
        >
          <bee-item-grid-layout
            [x_dir]="{ start: 2, span: 1 }"
            [y_dir]="{ start: 1, span: 1 }"
          >
            <h1 class="projects-title">Projects</h1>
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 1, span: 1 }"
            [y_dir]="{ start: 1, span: 2 }"
          >
            <short-vert-project-card
              [projectInfo]="getProjectWithIndex(0)"
            />
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 2, span: 1 }"
            [y_dir]="{ start: 2, span: 2 }"
          >
            <short-vert-project-card
              [projectInfo]="getProjectWithIndex(1)"
            />
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 1, span: 1 }"
            [y_dir]="{ start: 3, span: 2 }"
          >
            <short-vert-project-card
              [projectInfo]="getProjectWithIndex(2)"
            />
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 2, span: 1 }"
            [y_dir]="{ start: 4, span: 2 }"
          >
            <short-vert-project-card
              [projectInfo]="getProjectWithIndex(0)"
            />
          </bee-item-grid-layout>
        </bee-grid-2d-layout>
      </ng-template>

      <ng-template #screenHorizontal>
        <bee-grid-2d-layout
          class="projects-sec-hori-container"
          [inputGrid2Distribution]="{ x: '1fr 1fr 1fr', y: '1fr 1fr 1fr' }"
        >
          <bee-item-grid-layout
            [x_dir]="{ start: 2, span: 1 }"
            [y_dir]="{ start: 1, span: 1 }"
          >
            <h1 class="projects-title">Projects</h1>
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 1, span: 1 }"
            [y_dir]="{ start: 1, span: 2 }"
          >
            <short-hori-project-card
              [projectInfo]="getProjectWithIndex(0)"
            />
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 2, span: 1 }"
            [y_dir]="{ start: 2, span: 2 }"
          >
            <short-hori-project-card
              [projectInfo]="getProjectWithIndex(1)"
            />
          </bee-item-grid-layout>

          <bee-item-grid-layout
            [x_dir]="{ start: 3, span: 1 }"
            [y_dir]="{ start: 1, span: 2 }"
          >
            <short-hori-project-card
              [projectInfo]="getProjectWithIndex(2)"
            />
          </bee-item-grid-layout>
        </bee-grid-2d-layout>
      </ng-template>
    </bee-responsive-layout>
  </bee-fixed-width-layout>
</section>
