<section>
  <p>projects-section works!</p>



  <bee-vert-carousel [autoPlayInterval]="4000" [pauseOnHover]="true" [transitionType]="'fade'" [items]="vertURLs">
    <ng-template #body let-item>
      <short-vert-project-card [imgUrl]="item"/>
    </ng-template>
  </bee-vert-carousel>

  <bee-hori-carousel [pauseOnHover]="true" [transitionType]="'fade'" [items]="horiURLs">
    <ng-template #body let-item>
      <short-hori-project-card [imgUrl]="item" />
    </ng-template>
  </bee-hori-carousel>
</section>
