<section class="projects-sec">
    <bee-responsive-layout class="project-cards-container" [TriggerFactorVert2Hori]="getFactorVert2Hori()">

      <ng-template #screenVertical>
        <layout-vert-short-project-cards [projects]="projects()"/>
      </ng-template>

      <ng-template #screenHorizontal>
        @if ( getResponsiveSChemma() === 'small-screen' ) {
          <layout-vert-short-project-cards [projects]="projects()"/>
        } @else {
          <layout-hori-short-project-cards [projects]="projects()" />
        }

      </ng-template>

    </bee-responsive-layout>
</section>
