<section class="sec-experience">
  <h1 class="title">Experience</h1>

  <bee-timeline class="experience-timeline" [events]="getEvents()" [align]="getTimeLineAligment()">
    <ng-template #content let-event>
      <short-experience-card
        class="short-exp-card"
        [experience]="event"
        DClickableAction
        (actionClick)="onClickExpCard(event.id)"
      />
    </ng-template>
    <ng-template #marker let-event>
      <bee-round-icon
        class="timeline-custom-icon"
        [refName]="getIconRef(event.type)"
      />
    </ng-template>
  </bee-timeline>

  <bee-responsive-layout
    (orientationChange)="onOrientationChange($event)"
    [TriggerFactorVert2Hori]="getFactorVert2Hori()"
  >
    <ng-template #screenVertical></ng-template>
    <ng-template #screenHorizontal></ng-template>
  </bee-responsive-layout>
</section>
