<!-- <p>{{ articleHeader().coverImageUrl }}</p> -->
  <!-- src="https://raw.githubusercontent.com/JesusCRIS90/jc-risquez-cdn/main/blog/blog-test-img1.png" -->
<img
  class="article-header-img"
  [src]="heroHeaderUrl"
  alt="Cover Image"
/>
<!-- <h1 class="main-title">{{ title }}</h1> -->
<bee-responsive-layout>
  <ng-template #screenVertical>
    <bee-vertical-layout [gap]="20">
      <bee-horizontal-layout class="up-chips-container" [gap]="0">
        @for (tag of articleHeader().tags.slice(0,3); track $index) {
        <bee-chip class="topic-chip" [label]="tag" />
        }
      </bee-horizontal-layout>
      <bee-horizontal-layout class="down-chips-container" [gap]="0">
        <bee-chip class="reading-time" [label]="readingTimeText" />
        <bee-chip class="level" [label]="articleHeader().difficulty" />
      </bee-horizontal-layout>
    </bee-vertical-layout>
  </ng-template>
  <ng-template #screenHorizontal>
    <bee-pair-layout [pairDistribution]="PAIR_DISTRIBUTION.OPPOSITE">
      <bee-horizontal-layout class="left-chips-container" [gap]="10">
        @for (tag of articleHeader().tags; track $index) {
        <bee-chip class="topic-chip" [label]="tag" />
        }
      </bee-horizontal-layout>
      <bee-horizontal-layout class="right-chips-container" [gap]="10">
        <bee-chip class="reading-time" [label]="readingTimeText" />
        <bee-chip class="level" [label]="articleHeader().difficulty" />
      </bee-horizontal-layout>
    </bee-pair-layout>
  </ng-template>
</bee-responsive-layout>
