<div>
  <h1>{{ getData().name.text }}</h1>
  <h1>{{ getData().role.text }}</h1>
  <p>{{ getData().briefBio.text }}</p>
  <bee-horizontal-layout [gap]="10">
    <bee-link-icon
      [link]="getData().url_linkedin"
      [size]="28"
      [refName]="'bicon-social-linkedin'"
    />
    <bee-link-icon
      [link]="getData().url_github"
      [size]="28"
      [refName]="'bicon-tech-github'"
    />
    <bee-link-icon [size]="28" [refName]="'bicon-common-pdf'" />
    <bee-svg-icon
      appClickableAction
      (actionClick)="copyEmailtToClipboard($event)"
      [refName]="'bicon-common-email'"
    />
  </bee-horizontal-layout>
</div>
