<!-- <div> -->
<h1 beeDHighlightKeyWords [keywords]="getData().name.keywords" class="name">
  {{ getData().name.text }}
</h1>
<h1 beeDHighlightKeyWords [keywords]="getData().role.keywords" class="role">
  {{ getData().role.text }}
</h1>
<p
  beeDHighlightKeyWords
  [keywords]="getData().briefBio.keywords"
  class="brief-description"
>
  {{ getData().briefBio.text }}
</p>
<bee-horizontal-layout class="contact-icons" [gap]="25">
  <bee-link-icon
    class="icon-link"
    [link]="getData().url_linkedin"
    [refName]="'bicon-social-linkedin'"
  />
  <bee-link-icon
    class="icon-link"
    [link]="getData().url_github"
    [refName]="'bicon-tech-github'"
  />
  <bee-link-icon class="icon-link" [refName]="'bicon-common-pdf'" />
  <bee-svg-icon
    class="svg-icon-link"
    DClickableAction
    (actionClick)="copyEmailtToClipboard($event)"
    [refName]="'bicon-common-email'"
  />
</bee-horizontal-layout>
<!-- </div> -->
