@if ( navItem().icon !== null ) {

  @if( navItem().title !== null ) {
    <!-- Component with Icon + Ttitle -->
     <bee-pair-layout [ngClass]="{'active': isActive()}" class="nav-container"  [pairDistribution]="PAIR_POLICY.GLUED" [spaceDistribution]="'1fr 2fr'" [gap]="5">
      <div class="nav-icon-container">
        <bee-svg-icon [refName]="getIconRef()"/>
      </div>
      <div class="nav-text-container">
        <p class="title"> {{ navItem().title }} </p>
        <p class="subtitle"> {{ navItem().subtitle }} </p>
      </div>
     </bee-pair-layout>
  } @else{
    <!-- Component only with Icon -->
      <div [ngClass]="{'nav-item-active': isActive()}" class="nav-icon-container" >
        <bee-svg-icon [refName]="getIconRef()"/>
      </div>
  }

} @else {
  <!-- Component with Text -->
    <div class="nav-text-container">
        <p class="title"> {{ navItem().title }} </p>
        <p class="subtitle"> {{ navItem().subtitle }} </p>
    </div>
}
