/* @import '../color-schemmas/app-color.styles.css'; */

.hori-nav-menu {
  position: fixed;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);

  .nav-icon-container {
    display: flex;

    align-items: center;
    justify-content: center;

    width: var(--nav-menu-hori-container-size);
    height: var(--nav-menu-hori-container-size);

    background-color: var(--primary-color);
    border-radius: 50px;

    .svg-icon {
      height: var(--nav-menu-hori-icon-size);
      width: var(--nav-menu-hori-icon-size);
    }
  }

  .hori-nav-flex-container {
    width: 50px;
  }

  .hori-nav-item {

    .bee-nav-item-container {
      background-color: var(--primary-color);
      border-radius: 50px;
    }

    .bee-nav-item-container.active {
      border: 3px solid var(--primary-light-2);
      background-color: var(--primary-color);
      border-radius: 50px;
    }

    .nav-text-container p {
      text-transform: uppercase;
      font-size: var(--nav-menu-hori-font-size);
      margin: 0;
      padding: 0;
      margin-left: 10px;
      padding-left: 10px;
      color: var(--white-1);
    }
  }
}
