/* Vertical Navigation Button */

.vert-nav-button {
  position: fixed;
  top: 0%;
  right: 2%;
  margin-top: 10px;
  /* z-index: 1100; */

  div {
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 8px;

    width: var(--nav-menu-vert-container-size);
    height: var(--nav-menu-vert-container-size);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    /* Think about this color */
    fill: var(--white-1);
    height: var(--nav-menu-vert-icon-size);
    width: var(--nav-menu-vert-icon-size);
  }
}

/* Vertical Navigation Menu */

.vert-nav-item {
  .bee-nav-item-container.active {
    .nav-icon-container svg {
      fill: var(--primary-light);
    }

    .nav-text-container p {
      color: var(--primary-light);
    }
  }

  .nav-text-container .title {
    margin: 10px 20px 10px 0px;
    padding: 0;
  }
}

.bee-nav-item-container {
  .nav-icon-container {
    .svg-icon {
      height: var(--nav-menu-vert-icon-size);
      width: var(--nav-menu-vert-icon-size);
    }
  }
}
