<bee-relative-layout
  dirAppEndlessTimer
  [intervalMs]="autoPlayInterval()"
  (tick)="onAutoPlay()"
  #autoplay="dirAppEndlessTimer"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="carousel-body" [ngClass]="animationClass">
    <ng-container
      *ngTemplateOutlet="bodyTemplate; context: { $implicit: currentItem }"
    ></ng-container>
  </div>

  @if( arrowLeftTemplate && arrowRightTemplate ) {
  <bee-floating-layout
    [posX]="0"
    [posY]="50"
    [anchorPoint]="getLeftArrowPolicy()"
  >
    <app-auto-hide-layout [autoHideMs]="autoHideMs()">
      <div class="arrow arrow-left" (click)="onPrev()">
        <ng-container *ngTemplateOutlet="arrowLeftTemplate"></ng-container>
      </div>
    </app-auto-hide-layout>
  </bee-floating-layout>

  <bee-floating-layout
    [posX]="100"
    [posY]="50"
    [anchorPoint]="getRightArrowPolicy()"
  >
    <app-auto-hide-layout [autoHideMs]="autoHideMs()">
      <div class="arrow arrow-right" (click)="onNext()">
        <ng-container *ngTemplateOutlet="arrowRightTemplate"></ng-container>
      </div>
    </app-auto-hide-layout>
  </bee-floating-layout>

  } @if(indicatorsTemplate) {
  <div class="carousel-indicators">
    <bee-floating-layout [posX]="50" [posY]="100" [anchorPoint]="getIndicatorPolicy()">
      <ng-container
        *ngTemplateOutlet="
          indicatorsTemplate;
          context: {
            goTo: goTo.bind(this),
            currentIndex: queue?.getCurrentIndex(),
            items: items
          }
        "
      ></ng-container>
    </bee-floating-layout>
  </div>
  }
</bee-relative-layout>
