<section class="sec-contact">
  <h1 class="title">Contact Me</h1>

  <bee-responsive-layout>
    <ng-template #screenVertical>
      <bee-vertical-layout class="contact-form-sec-group-vert">
        <gif-lazy-load [inputMediaUrl]="mediaGifUrl()" class="gif-feedback" />
        <cv-contact-form (formState)="updatingContactFormState($event)" />
      </bee-vertical-layout>
    </ng-template>
    <ng-template #screenHorizontal>
      <bee-horizontal-layout [gap]="20" class="contact-form-sec-group">
        <gif-lazy-load [inputMediaUrl]="mediaGifUrl()" class="gif-feedback" />
        <cv-contact-form (formState)="updatingContactFormState($event)" />
      </bee-horizontal-layout>
    </ng-template>
  </bee-responsive-layout>
  <social-networks-links
    [linkedin_url]="getData().url_linkedin"
    [github_url]="getData().url_github"
    [pdf_url]="getData().url_downloadCV"
    [email_url]="getData().url_email"
  />
</section>
