<section class="sec-contact">
  <h1 class="title">Contact Me</h1>

  <p class="sec-under-building">Section «Under Building Process»</p>

  <img
    #gifElement
    [attr.src]="gifLoaded ? getGIF() : null"
    src="assets/placeholder.jpg"
    alt="Demo GIF"
  />

  <bee-horizontal-layout class="contact-icons" [gap]="25">
    <bee-link-icon
      class="icon-link"
      [link]="getData().url_linkedin"
      [refName]="'bicon-social-linkedin'"
    />
    <bee-link-icon
      class="icon-link"
      [link]="getData().url_github"
      [refName]="'bicon-tech-github'"
    />
    <bee-link-icon class="icon-link" [refName]="'bicon-common-pdf'" [link]="getLink()"/>
    <bee-svg-icon
      class="svg-icon-link"
      DClickableAction
      (actionClick)="copyEmailtToClipboard($event)"
      [refName]="'bicon-common-email'"
    />
  </bee-horizontal-layout>
</section>
