<section class="sec-contact">
  <h1 class="title">Contact Me</h1>

  <bee-responsive-layout>
    <ng-template #screenVertical>
      <h1>Under Construction</h1>
    </ng-template>
    <ng-template #screenHorizontal>
      <gif-lazy-load />
      <social-networks-links
        [linkedin_url]="getData().url_linkedin"
        [github_url]="getData().url_github"
        [pdf_url]="getData().url_downloadCV"
        [email_url]="getData().url_email"
      />
    </ng-template>
  </bee-responsive-layout>
</section>
