:host {
  display: block;
}

.long-exp-card {
  display: flex;
  flex-direction: column;
  width: 900px; /* or whatever fixed size you want */
  /* height: 600px; */

  .body-exp-card {
    padding: 12px;
    flex: 1 1 auto; /* take remaining vertical space */
    min-height: 0; /* IMPORTANT — allows children to overflow internally */
    overflow: hidden; /* prevent nm-body from creating its own page scroll */
  }
}
