:host {
  /* display: block; */
}

/* .long-project-card {
  max-width: 1200px;
  height: 75dvh;

  .project-card-links {
    .action-link {
      fill: coral !important;
    }
  }

  .project-title {
    color: var(--white-1);
  }

  .project-description {
    display: block;
    max-width: fit-content;
    overflow-y: auto;

    font-size: 20px;

    color: var(--white-1);
  }

  .icons-container {
    margin-top: 10px;
  }

  .project-card-techs {
    .tech-icon {
      margin-right: 10px;
      svg-icon {
        width: 50px !important;
        height: auto !important;
      }
    }
  }

  .project-card-links {
    .action-link {
      svg {
        width: 50px !important;
        height: auto !important;
      }
    }
  }
} */
