.sec-contact {
  margin-top: var(--common-top-space);

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100dvh;

  .title {
    color: var(--white-1);
    align-items: center;
    font-size: var(--common-titles-font-size);
    text-transform: uppercase;
    padding-top: 50px;
  }

  .sec-under-building {
    margin: 0;
    padding: 0;
    color: var(--white-1);
    font-size: 30px;
  }

  .contact-icons {
    margin-top: var(--space-contact-sec-icons);

    .icon-link .svg-icon {
      width: var(--icon-size-home-sec);
      height: auto;
      fill: var(--white-1);
    }

    .icon-link svg:hover {
      fill: var(--primary-light-2);
    }

    .svg-icon-link svg {
      width: var(--icon-size-home-sec);
      height: auto;
    }

    .svg-icon-link svg:hover {
      fill: var(--primary-light-2);
      cursor: pointer;
    }
  }

  .contact-form-sec-group {
    background: linear-gradient(90deg, 
      var(--bg-gradient-start), 
      var(--bg-gradient-end));
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .contact-form-sec-group-vert {
    background: linear-gradient(90deg, 
      var(--bg-gradient-start), 
      var(--bg-gradient-end));
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  } 

  .gif-feedback{

    display: flex;
    justify-content: center;
    
    width: var(--contact-form-image-width);
    height: auto;
    
    img{
      scale: var(--contact-form-feedback-image-scale);
    }
  }
}
