.sec-experience {
  min-height: 100dvh;
  /* margin-top: 50px; */

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: var(--white-1);
    align-items: center;
    font-size: var(--common-titles-font-size);
    text-transform: uppercase;
    padding-top: 10px;
  }

  .experience-timeline{
    max-width: 85%;
  }

}

.timeline-custom-icon svg {
  fill: #ffffff;
}

.timeline-custom-icon div {
  background-color: var(--primary-color) !important;
}

.long-exp-card {
  display: flex;
  flex-direction: column;
  width: var(--long-experience-card-width);
  max-height: var(--long-experience-card-height);

  .header {
    margin-bottom: 20px;

    .role {
      margin: 0;
      color: var(--primary-light-2);
      margin-bottom: 5px;
      font-size: var(--long-experience-card-font-size-role);
    }

    .company {
      margin: 0;
      color: var(--white-1);
      font-size: var(--long-experience-card-font-size-company);
    }

    .time {
      margin: 0;
      font-size: var(--long-experience-card-font-size-timespan);
      color: var(--white-1);
    }
  }

  .body {
    padding: 12px;
    flex: 1 1 auto; /* take remaining vertical space */
    min-height: 0; /* IMPORTANT — allows children to overflow internally */
    overflow: auto; /* prevent nm-body from creating its own page scroll */
    color: var(--white-1);
  }

  .bee-markdown-body {
    font-size: var(--long-experience-card-font-size-description);
  }

  .techs-title {
    font-size: var(--long-experience-card-font-size-title-icons);
    margin: 0;
    margin-top: 20px;
    color: var(--primary-light-2);
  }

  .tech-icons {
    margin-top: var(--long-experience-card-space-title-icons);
    .svg-icon {
      width: var(--long-experience-card-icons-size);
      height: var(--long-experience-card-icons-size);
    }
  }

  /* SCROLL BAR CUSTOMIZATION */

  /* Width and height of scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* vertical */
  }

  /* Track (background of scrollbar) */
  ::-webkit-scrollbar-track {
    background: var(--primary-light);
    border-radius: 10px;
    height: 5px;
  }

  /* Thumb (draggable part) */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}
