.home-section {
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-top: var(--common-space-section); */

  .profile-image {
    width: var(--home-sec-profile-img);
    /* margin-bottom: var(--common-space-section, 0); */
  }

  .who-i-am {
    /* max-width: 750px; */
    max-width: 75%;
    padding: 0px 0px 0px 25px;

    .name {
      font-size: var(--font-size-home-sec-name);
      font-weight: 600;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
      color: var(--white-1);
    }

    .name span {
      color: var(--primary-light-2);
    }

    .role {
      font-size: var(--font-size-home-sec-role);
      font-weight: 600;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
      color: var(--white-1);
    }

    .role span {
      color: var(--primary-light-2);
    }

    .brief-description {
      color: var(--white-1);
      font-size: var(--font-size-home-sec-bio);
      letter-spacing: 2px;
      margin: 0;
      padding: 0;

      margin-top: 20px;
    }

    .brief-description span {
      color: var(--primary-light-2);
    }

    .contact-icons {
      margin-top: var(--space-home-sec-bio-icons);

      .icon-link .svg-icon {
        width: var(--icon-size-home-sec);
        height: auto;
        fill: var(--white-1);
      }

      .icon-link svg:hover {
        fill: var(--primary-light-2);
      }

      .svg-icon-link svg {
        width: var(--icon-size-home-sec);
        height: auto;
      }

      .svg-icon-link svg:hover {
        fill: var(--primary-light-2);
        cursor: pointer;
      }
    }
  }
}
