.home-section {

  /* Delete on Near Future */
  height: 100dvh;

  .profile-image {
    width: var(--home-sec-profile-img);
  }

  .who-i-am {
    padding: 0px 0px 0px 50px;
    .name {
      font-size: 50px;
      margin: 0;
      padding: 0;
    }
    .role {
      font-size: 50px;
      margin: 0;
      padding: 0;
    }
    .brief-description {
      font-size: 25px;
      margin: 0;
      padding: 0;

      margin-top: 20px;
    }

    .contact-icons {
      margin-top: 80px;
    }
  }
}
