.projects-sec {
}

.long-project-card {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;

  width: var(--long-project-card-width);
  height: var(--long-project-card-height);

  .project-card-links {
    .action-link {
      fill: coral !important;
    }
  }

  .project-title {
    color: var(--white-1);
    font-size: var(--long-project-card-font-size-title);
  }

  .frame-container .bee-frame-img {
    width: var(--long-project-card-img-width);
  }

  .project-video .video-container {
    width: var(--long-project-card-video-width);
    aspect-ratio: 16 / 9;
  }

  .project-video .video-container .yt-iframe {
    border-radius: 10px;
    border-color: blueviolet;
  }

  .project-description {
    display: block;
    max-width: fit-content;
    overflow-y: auto;

    font-size: var(--long-project-card-font-size-description);

    color: var(--white-1);
  }

  .icons-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .project-card-techs {
    .tech-icon {
      margin-right: 10px;
      .svg-icon {
        width: var(--long-project-card-icon-size);
        height: var(--long-project-card-icon-size);
      }
    }
  }

  .project-card-links {
    .action-link {
      .svg-icon {
        width: var(--long-project-card-icon-size);
        height: var(--long-project-card-icon-size);
      }
    }
  }

  /* SCROLL BAR CUSTOMIZATION */

  /* Width and height of scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* vertical */
  }

  /* Track (background of scrollbar) */
  ::-webkit-scrollbar-track {
    background: var(--primary-light);
    border-radius: 10px;
    height: 5px;
  }

  /* Thumb (draggable part) */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}
