.projects-sec {
}

.long-project-card {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;

  width: 80dvh;
  height: 85dvh;

  .project-card-links {
    .action-link {
      fill: coral !important;
    }
  }

  .project-title {
    color: var(--white-1);
  }

  .frame-container .bee-frame-img {
    width: 600px;
  }

  .project-description {
    display: block;
    max-width: fit-content;
    overflow-y: auto;

    font-size: 20px;

    color: var(--white-1);
  }

  .icons-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .project-card-techs {
    .tech-icon {
      margin-right: 10px;
      .svg-icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  .project-card-links {
    .action-link {
      .svg-icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  /* SCROLL BAR CUSTOMIZATION */

  /* Width and height of scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* vertical */
  }

  /* Track (background of scrollbar) */
  ::-webkit-scrollbar-track {
    background: var(--primary-light);
    border-radius: 10px;
    height: 5px;
  }

  /* Thumb (draggable part) */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
}
