.skills-section {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: var(--white-1);
    align-items: center;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .skills-filter {
    margin-bottom: 30px;

    .skill-chip {
      .chip-container {
        border-radius: 25px;
        background-color: var(--bg-color-lighter);
        border: 2px solid var(--bg-color-highlight);
        cursor: pointer;
        font-size: 20px;

        .chip-label {
          color: var(--white-1);
          margin: 5px 15px 5px 15px;
        }
      }
      .chip-container:hover {
        border: 2px solid var(--primary-light-2);
      }
    }

    .skill-chip.item-active {
      .chip-container {
        border: 2px solid var(--primary-light-2);
      }
    }
  }

  .no-skills-2-show-message {
    font-size: 50px;
    color: var(--white-pure);
    text-align: center;
  }
}

.skill-card {
  padding: 20px 10px 20px 10px;
  background-color: var(--bg-color-lighter);
  border-radius: 5px;
  color: var(--white-1);
  border: 2px solid var(--bg-color-lighter);

  .skill-card-text h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .skill-card-text p {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .svg-icon {
    width: 42px;
    height: 42px;
  }
}

.skill-card:hover {
  border: 2px solid var(--primary-light-2);
  /* cursor: pointer; */
}
