<section>
  <bee-responsive-layout (orientationChange)="updateOrientation($event)" [TriggerFactorVert2Hori]="getFactorVert2Hori()">
    <ng-template #screenVertical>
      <bee-relative-layout>
        <bee-floating-layout [posX]="10" [posY]="7" [anchorPoint]="POLICY.TOP_LEFT">
          <img style="width: 60%;" [src]="getProfileUrl()" alt="" />
        </bee-floating-layout>
        <app-who-iam [data]="getData()" />
      </bee-relative-layout>

    </ng-template>

    <ng-template #screenHorizontal>
      <bee-pair-layout [pairDistribution]="PAIR_POLICY.GLUED" [gap]="10">
        <img [src]="getProfileUrl()" alt="" />
        <app-who-iam [data]="getData()" />
      </bee-pair-layout>
    </ng-template>
  </bee-responsive-layout>
</section>
