<bee-grid-2d-layout
  class="projects-sec-hori-container"
  [inputGrid2Distribution]="{ x: '1fr 1fr 1fr', y: '1fr 1fr 1fr' }"
>
  <bee-item-grid-layout
    [x_dir]="{ start: 2, span: 1 }"
    [y_dir]="{ start: 1, span: 1 }"
  >
    <h1 class="projects-title">Projects</h1>
  </bee-item-grid-layout>

  @for (project of projects(); track $index) {
  <bee-item-grid-layout
    [x_dir]="{ start: get_x_PatternHori($index), span: 1 }"
    [y_dir]="{ start: get_y_PatternHori($index), span: 2 }"
  >
    <short-hori-project-card [projectInfo]="project" />
  </bee-item-grid-layout>
  }
</bee-grid-2d-layout>
