.card-article {
  width: clamp(250px, 80vw, 800px);
  min-height: 120px;
  overflow: hidden;
  align-content: center;

  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--bg-color) 125%
  );

  border: 2px solid var(--primary-color);
  border-radius: 8px;
  /* padding: 10px; */

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  .content {
    justify-self: start;

    .title {
      color: #f9fafb;
      font-weight: 700;
      line-height: 1.25;
      font-size: 1.8em;
      margin: 0;
    }
    .description {
      font-size: 1.2rem;
      color: var(--white-2);
      margin: 5px 0 0 5px;
    }
  }
}

.card-article:hover {
  border-color: var(--primary-light-2);
  zoom: 1.005;
}
