.card-article {
  width: clamp(250px, var(--blog-card-width-viewport-percentage), 900px);
  overflow: hidden;
  align-content: center;

  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--bg-color) 125%
  );

  border: 2px solid var(--primary-color);
  border-radius: 8px;
  /* padding: 10px; */

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .container {
    min-height: var(--blog-card-min-height);
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 16 / 9;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }
  .content {
    justify-self: start;
    margin: 5px 10px 5px 0px;

    .title {
      color: #f9fafb;
      font-weight: 700;
      line-height: 1.25;
      /* font-size: 1.8rem; */
      font-size: var(--blog-card-tittle-font-size);
      margin: 0;
    }
    .description {
      font-size: var(--blog-card-description-font-size);
      color: var(--white-2);
      margin: 5px 0 0px 5px;
    }
  }
}

.card-article:hover {
  border-color: var(--primary-light-2);
  zoom: 1.005;
}
