/* You can add global styles to this file, and also import other style files */

section {
  height: 1500px;
}

body {
  background-color: rgb(145, 145, 145);
}

/* NavSectionMenu Styles */
.nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);

  .nav-icon-container {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    margin-bottom: 10px;

    background-color: #7458a8;
    border-radius: 50px;

    bee-svg-icon {
      height: 24px;
      width: 24px;
    }
  }

  .nav-item-active {
    background-color: #c4a3eb;
  }
}

.vert-nav-button {
  position: fixed;
  top: 2%;
  left: 92%;

  div {
    background-color: #7458a8;
    border-radius: 50px;
    padding: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: #f7ffff;
    height: 24px;
    width: 24px;
  }
}
