@import "./app/styles/app-vars/app-vars.styles.css";
@import "./app/styles/pop-ups/pop-ups.styles.css";
@import "./app/styles/nav-menu/nav-menu.styles.css";

/* This property is exclusive for development */
section {
  height: 1500px;
}

/* Change the BG Color */
body {
  background-color: rgb(41, 41, 41);
  /* background-color: var(--bg-color); */
}

/* Move to a CSS File */

.skills-section {

  margin: auto;

  .skills-filter {
    margin-bottom: 30px;

    .skill-chip {
      .chip-container {
        border-radius: 25px;
        background-color: #333333;
        border: 2px solid #969696;
        cursor: pointer;
        font-size: 20px;

        .chip-label {
          color: #ffffff;
          margin: 5px 15px 5px 15px;
        }
      }
      .chip-container:hover {
        border: 2px solid #9b83e1;
      }
    }
    .skill-chip.item-active{
      .chip-container{
        border: 2px solid #9b83e1;
      }
    }
  }
}



.timeline-custom-icon svg{
  fill: #ffffff;
}

.timeline-custom-icon div{
  background-color: var(--violet-600) !important;
}
