.responsive-schema-big-screen {
  --common-titles-font-size: 40px;
  --common-top-space: 40px;

  /* Home Vars */
  --home-sec-profile-img: 500px;
  --font-size-home-sec-name: 45px;
  --font-size-home-sec-role: 40px;
  --font-size-home-sec-bio: 20px;
  --icon-size-home-sec: 35px;
  --space-home-sec-bio-icons: 35px;

  /* Projects Vars */
  --short-project-card-hori-width: 400px;
  --project-title-font-size-hori: 50px;
  --font-size-project-card-title-hori: 25px;
  --font-size-project-card-description-hori: 18px;
  --space-project-card-title-description-hori: 8px;
  /* Projects Long Card Vars */
  --long-project-card-width: 120dvh;
  --long-project-card-height: 75dvh;
  --long-project-card-img-width: 450px;
  --long-project-card-video-width: 400px;
  --long-project-card-font-size-title: 30px;
  --long-project-card-font-size-description: 18px;
  --long-project-card-icon-size: 32px;

  /* Experience Vars */
  --short-experience-card-width: 400px;
  --short-experience-card-min-height: 60px;
  --experience-title-font-size: 60px;
  --font-size-experience-card-role: 22px;
  --font-size-experience-card-company: 20px;
  --font-size-experience-card-timespan: 18px;
  --font-size-experience-card-description: 16px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 120dvh;
  --long-experience-card-height: 75dvh;
  --long-experience-card-font-size-role: 28px;
  --long-experience-card-font-size-company: 22px;
  --long-experience-card-font-size-timespan: 20px;
  --long-experience-card-font-size-description: 16px;
  --long-experience-card-font-size-title-icons: 22px;
  --long-experience-card-icons-size: 30px;
  --long-experience-card-space-title-icons: 20px;

  /* Experience Long Card Vars */
  --space-contact-sec-icons: -20px;

  /* Hori Nav Menu */
  --nav-menu-hori-container-size: 45px;
  --nav-menu-hori-icon-size: 24px;
  --nav-menu-hori-font-size: 16px;

  /* Contact Vars */
  --contact-form-image-width: 450px;

  --contact-form-width: 400px;
  --contact-form-padding: 35px;
  --contact-form-font-size-input: 18px;
  --contact-form-font-size-error-message: 0.85rem;
  --contact-form-btn-font-size: 18px;
  --contact-form-btn-padding: 15px;
  --contact-form-btn-margin-top: 20px;

  --contact-form-border-radius: 3px 15px 15px 3px;
}
