.responsive-schema-extra-wide-screen {
  --common-titles-font-size: 50px;
  --common-top-space: 60px;

  /* Home Vars */
  --home-sec-profile-img: 750px;
  --font-size-home-sec-name: 70px;
  --font-size-home-sec-role: 60px;
  --font-size-home-sec-bio: 25px;
  --icon-size-home-sec: 35px;
  --space-home-sec-bio-icons: 60px;

  /* Projects Vars */
  --short-project-card-hori-width: 500px;
  --project-title-font-size-hori: 60px;
  --font-size-project-card-title-hori: 35px;
  --font-size-project-card-description-hori: 18px;
  --space-project-card-title-description-hori: 10px;
  /* Projects Long Card Vars */
  --long-project-card-width: 80dvh;
  --long-project-card-height: 85dvh;
  --long-project-card-img-width: 600px;
  --long-project-card-video-width: 550px;
  --long-project-card-font-size-title: 40px;
  --long-project-card-font-size-description: 20px;
  --long-project-card-icon-size: 40px;

  /* Experience Vars */
  --short-experience-card-width: 600px;
  --short-experience-card-min-height: 100px;
  --experience-title-font-size: 60px;
  --font-size-experience-card-role: 25px;
  --font-size-experience-card-company: 22px;
  --font-size-experience-card-timespan: 22px;
  --font-size-experience-card-description: 18px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 85dvh;
  --long-experience-card-height: 75dvh;
  --long-experience-card-font-size-role: 40px;
  --long-experience-card-font-size-company: 32px;
  --long-experience-card-font-size-timespan: 25px;
  --long-experience-card-font-size-description: 20px;
  --long-experience-card-font-size-title-icons: 25px;
  --long-experience-card-icons-size: 40px;
  --long-experience-card-space-title-icons: 20px;

  /* Experience Long Card Vars */
  --space-contact-sec-icons: -20px;

  /* Hori Nav Menu */
  --nav-menu-hori-container-size: 45px;
  --nav-menu-hori-icon-size: 24px;
  --nav-menu-hori-font-size: 16px;

    /* Contact Vars */
  --contact-form-image-width: 250px;

  --contact-form-width: 400px;
  --contact-form-padding: 35px;
  --contact-form-font-size-input: 18px;
  --contact-form-font-size-error-message: 0.85rem;
  --contact-form-btn-font-size: 18px;
  --contact-form-btn-padding: 15px;
  --contact-form-btn-margin-top: 20px;
}
