.responsive-schema-medium-screen {
  --common-titles-font-size: 35px;
  --common-top-space: 30px;

  /* Home Vars */
  --home-sec-profile-img: 400px;
  --font-size-home-sec-name: 35px;
  --font-size-home-sec-role: 30px;
  --font-size-home-sec-bio: 18px;
  --icon-size-home-sec: 35px;
  --space-home-sec-bio-icons: 0px;

  /* Projects Vars */
  --short-project-card-hori-width: 280px;
  --project-title-font-size-hori: 40px;
  --font-size-project-card-title-hori: 22px;
  --font-size-project-card-description-hori: 14px;
  --space-project-card-title-description-hori: 5px;
  /* Projects Long Card Vars */
  --long-project-card-width: 135dvh;
  --long-project-card-height: 75dvh;
  --long-project-card-img-width: 350px;
  --long-project-card-video-width: 400px;
  --long-project-card-font-size-title: 30px;
  --long-project-card-font-size-description: 18px;
  --long-project-card-icon-size: 35px;

  /* Experience Vars */
  --short-experience-card-width: 320px;
  --short-experience-card-min-height: 100px;
  --experience-title-font-size: 50px;
  --font-size-experience-card-role: 22px;
  --font-size-experience-card-company: 20px;
  --font-size-experience-card-timespan: 18px;
  --font-size-experience-card-description: 16px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 135dvh;
  --long-experience-card-height: 75dvh;
  --long-experience-card-font-size-role: 25px;
  --long-experience-card-font-size-company: 22px;
  --long-experience-card-font-size-timespan: 22px;
  --long-experience-card-font-size-description: 16px;
  --long-experience-card-font-size-title-icons: 16px;
  --long-experience-card-icons-size: 30px;
  --long-experience-card-space-title-icons: 15px;

  /* Experience Long Card Vars */
  --space-contact-sec-icons: -20px;

  /* Hori Nav Menu */
  --nav-menu-hori-container-size: 35px;
  --nav-menu-hori-icon-size: 18px;
  --nav-menu-hori-font-size: 14px;

  /* Contact Vars */
  --contact-form-width: 350px;
  --contact-form-padding: 35px;
  --contact-form-font-size-input: 15px;
  --contact-form-font-size-error-message: 0.85rem;
  --contact-form-btn-font-size: 18px;
  --contact-form-btn-padding: 15px;
  --contact-form-btn-margin-top: 20px;
}
