.responsive-schema-small-screen {
  /* Home Vars */
  --home-sec-profile-img: 300px;
  --font-size-home-sec-name: 30px;
  --font-size-home-sec-role: 25px;
  --font-size-home-sec-bio: 18px;
  --icon-size-home-sec: 30px;
  --space-home-sec-bio-icons: 0px;

  /* Projects Vars */
  --short-project-card-vert-width: 225px;
  --font-size-project-card-title-vert: 24px;
  --font-size-project-card-description-vert: 18px;
  --space-project-card-title-description-vert: 2px;
  --project-title-font-size-hori: 20px;
  /* Projects Long Card Vars */
  --long-project-card-width: 150dvh;
  --long-project-card-height: 75dvh;
  --long-project-card-img-width: 350px;
  --long-project-card-video-width: 380px;
  --long-project-card-font-size-title: 25px;
  --long-project-card-font-size-description: 16px;
  --long-project-card-icon-size: 30px;

  /* Experience Vars */
  --short-experience-card-width: 500px;
  --short-experience-card-min-height: 80px;
  --experience-title-font-size: 30px;
  --font-size-experience-card-role: 20px;
  --font-size-experience-card-company: 18px;
  --font-size-experience-card-timespan: 16px;
  --font-size-experience-card-description: 14px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 160dvh;
  --long-experience-card-height: 72dvh;
  --long-experience-card-font-size-role: 22px;
  --long-experience-card-font-size-company: 18px;
  --long-experience-card-font-size-timespan: 18px;
  --long-experience-card-font-size-description: 16px;
  --long-experience-card-font-size-title-icons: 16px;
  --long-experience-card-icons-size: 30px;
  --long-experience-card-space-title-icons:2px;

  /* Hori Nav Menu */
  --nav-menu-hori-container-size: 35px;
  --nav-menu-hori-icon-size: 18px;
  --nav-menu-hori-font-size: 14px;
}
