.responsive-schema-smartphone-vertical {
  --common-titles-font-size: 20px;
  --common-top-space: 10px;

  /* Home Vars */
  --home-sec-profile-img: 300px;
  --font-size-home-sec-name: 35px;
  --font-size-home-sec-role: 30px;
  --font-size-home-sec-bio: 18px;
  --icon-size-home-sec: 30px;
  --space-home-sec-bio-icons: 5px;
  --common-space-section: 25px;

  /* Projects Vars */
  /* --project-title-font-size-hori: 35px; */
  --short-project-card-vert-width: 150px;
  --font-size-project-card-title-vert: 25px;
  --font-size-project-card-description-vert: 18px;
  --space-project-card-title-description-vert: 8px;

  /* Experience Vars */
  /* --experience-title-font-size: 35px; */
  --short-experience-card-width: 200px;
  --short-experience-card-min-height: 80px;
  --font-size-experience-card-role: 16px;
  --font-size-experience-card-company: 14px;
  --font-size-experience-card-timespan: 12px;
  --font-size-experience-card-description: 12px;

  /* Projects Long Card Vars */
  --long-project-card-width: 35dvh;
  --long-project-card-height: 80dvh;
  --long-project-card-img-width: 200px;
  --long-project-card-video-width: 200px;
  --long-project-card-font-size-title: 25px;
  --long-project-card-font-size-description: 14px;
  --long-project-card-icon-size: 25px;
  --long-project-card-margins: 30px 5px 0px 5px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 35dvh;
  --long-experience-card-height: 80dvh;
  --long-experience-card-font-size-role: 20px;
  --long-experience-card-font-size-company: 16px;
  --long-experience-card-font-size-timespan: 14px;
  --long-experience-card-font-size-description: 14px;
  --long-experience-card-font-size-title-icons: 16px;
  --long-experience-card-icons-size: 30px;
  --long-experience-card-space-title-icons: 5px;

  /* Experience Long Card Vars */
  --space-contact-sec-icons: -10px;

  /* Vert Nav Menu */
  --nav-menu-vert-container-size: 32px;
  --nav-menu-vert-icon-size: 24px;
  --nav-menu-vert-font-size: 16px;

  /* Contact Vars */
  --contact-form-image-width: 200px;
  --contact-form-feedback-image-scale: 60%;

  --contact-form-width: 260px;
  --contact-form-padding: 35px;
  --contact-form-font-size-input: 12px;
  --contact-form-font-size-error-message: 0.85rem;
  --contact-form-btn-font-size: 15px;
  --contact-form-btn-padding: 15px;
  --contact-form-btn-margin-top: 20px;

  --contact-form-border-radius: 15px 15px 15px 15px;
}
