.responsive-schema-tablet-vertical {
  --common-titles-font-size: 35px;
  --common-top-space: 25px;

  /* Home Vars */
  --home-sec-profile-img: 450px;
  --font-size-home-sec-name: 40px;
  --font-size-home-sec-role: 35px;
  --font-size-home-sec-bio: 20px;
  --icon-size-home-sec: 40px;
  --space-home-sec-bio-icons: 15px;
  --common-space-section: 5px;

  /* Projects Vars */
  --short-project-card-vert-width: 280px;
  --font-size-project-card-title-vert: 30px;
  --font-size-project-card-description-vert: 20px;
  --space-project-card-title-description-vert: 8px;

  /* Experience Vars */
  --short-experience-card-width: 500px;
  --short-experience-card-min-height: 80px;
  --font-size-experience-card-role: 25px;
  --font-size-experience-card-company: 20px;
  --font-size-experience-card-timespan: 18px;
  --font-size-experience-card-description: 16px;

  /* Projects Long Card Vars */
  --long-project-card-width: 50dvh;
  --long-project-card-height: 70dvh;
  --long-project-card-img-width: 380px;
  --long-project-card-video-width: 380px;
  --long-project-card-font-size-title: 25px;
  --long-project-card-font-size-description: 16px;
  --long-project-card-icon-size: 32px;
  --long-project-card-margins: 30px 5px 0px 5px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 50dvh;
  --long-experience-card-height: 70dvh;
  --long-experience-card-font-size-role: 25px;
  --long-experience-card-font-size-company: 20px;
  --long-experience-card-font-size-timespan: 18px;
  --long-experience-card-font-size-description: 16px;
  --long-experience-card-font-size-title-icons: 20px;
  --long-experience-card-icons-size: 30px;
  --long-experience-card-space-title-icons: 5px;

  /* Experience Long Card Vars */
  --space-contact-sec-icons: -10px;

  /* Vert Nav Menu */
  --nav-menu-vert-container-size: 32px;
  --nav-menu-vert-icon-size: 24px;
  --nav-menu-vert-font-size: 16px;

  /* Contact Vars */
  --contact-form-image-width: 450px;
  --contact-form-feedback-image-scale: 75%;

  --contact-form-width: 600px;
  --contact-form-padding: 35px;
  --contact-form-font-size-input: 30px;
  --contact-form-btn-font-size: 30px;
  --contact-form-font-size-error-message: 0.85rem;
  --contact-form-btn-padding: 20px;
  --contact-form-btn-margin-top: 20px;

  --contact-form-border-radius: 15px 15px 15px 15px;

  /* Blog Page */
  --blog-card-tittle-font-size: 36px;
  --blog-card-description-font-size: 26px;
  --blog-card-min-height: 180px;
  --blog-card-width-viewport-percentage: 90vw;

  --blog-header-title-font-size: 4.5rem;
  --blog-header-slogan-font-size: 3.2rem;

  /* Article Page */
  --article-page-chips-font-size: 34px;
  --article-page-chips-padding: 8px 16px;
  --article-page-chips-margin: 4px 12px;
  --article-page-header-image-margin: 15px;

  --article-page-main-content-margin: 0;
  --article-page-md-viewer-font-size: 0.7rem;

  --article-page-md-viewer-h1-font-size: 60px;
  --article-page-md-viewer-h2-font-size: 50px;
  --article-page-md-viewer-h3-font-size: 45px;
  --article-page-md-viewer-h4-font-size: 40px;
  --article-page-md-viewer-h5-font-size: 35px;

  --article-page-md-viewer-p-font-size: 34px;
  --article-page-md-viewer-code-block-font-size: 28px;
  --article-page-md-viewer-p-margin-left: 5px;
  /* Properties Exclusive for Code Block */
  --article-page-md-viewer-code-block-white-space: pre-wrap;
  --article-page-md-viewer-code-block-overflow-x: hidden;
  --article-page-md-viewer-code-block-word-break: break-word;
  
  /* Buttons */
  --article-page-btn-font-size: 36px;
  --article-page-cl-btn-margins: 60px 5px 0px 0px;
  --article-page-return-btn-margins: 25px 0px 30px 50px;
  --article-page-md-viewer-margin-top: 0px;
}
