.responsive-schema-ultra-wide-screen {
  /* Home Vars */
  --home-sec-profile-img: 950px;
  --font-size-home-sec-name: 70px;
  --font-size-home-sec-role: 60px;
  --font-size-home-sec-bio: 30px;
  --icon-size-home-sec: 35px;
  --space-home-sec-bio-icons: 80px;

  /* Projects Vars */
  --short-project-card-hori-width: 700px;
  --project-title-font-size-hori: 60px;
  --font-size-project-card-title-hori: 50px;
  --font-size-project-card-description-hori: 25px;
  --space-project-card-title-description-hori: 10px;
  /* Projects Long Card Vars */
  --long-project-card-width: 80dvh;
  --long-project-card-height: 85dvh;
  --long-project-card-img-width: 700px;
  --long-project-card-video-width: 600px;
  --long-project-card-font-size-title: 50px;
  --long-project-card-font-size-description: 20px;
  --long-project-card-icon-size: 40px;

  /* Experience Vars */
  --short-experience-card-width: 700px;
  --short-experience-card-min-height: 100px;
  --experience-title-font-size: 60px;
  --font-size-experience-card-role: 30px;
  --font-size-experience-card-company: 25px;
  --font-size-experience-card-timespan: 25px;
  --font-size-experience-card-description: 20px;

  /* Experience Long Card Vars */
  --long-experience-card-width: 90dvh;
  --long-experience-card-height: 80dvh;
  --long-experience-card-font-size-role: 50px;
  --long-experience-card-font-size-company: 35px;
  --long-experience-card-font-size-timespan: 30px;
  --long-experience-card-font-size-description: 20px;
  --long-experience-card-font-size-title-icons: 25px;
  --long-experience-card-icons-size: 40px;
  --long-experience-card-space-title-icons: 20px;

  /* Hori Nav Menu */
  --nav-menu-hori-container-size: 45px;
  --nav-menu-hori-icon-size: 24px;
  --nav-menu-hori-font-size: 16px;
}
